:root {
  --font-first: Helvetica, Arial, sans-serif;
  --font-second: 'Spectral', Georgia;
  --color1: #ffbb11;
  --color2: #333333;
  --color3: #764701;
  --color4: #ffffff;
  --color5: #eeeeee;
  --color6: #ff3311;
  --color7: #764701;
}

* {
  box-sizing: border-box;
}

body {
  padding-top: 4rem;
  margin: 0px;
  color: var(--color2);
  font-family: var(--font-first);
}

/* mantendo footer no fim da página */
#root {
  display: flex;
  flex-direction: column;
  min-height: calc(100vh + 10rem);
}

/* mantendo footer no fim da página */
.app-body {
  flex: 1;
}

h1, h2, h3, h4, p {
  margin: 0px;
}

ul, li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

img {
  display: block;
  max-width: 100%;
}

button, input {
  display: block;
  font-size: 1rem;
  font-family: var(--font-first);
  color: var(--color2);
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: var(--color2);
}

.container {
  max-width: 50rem;
  padding: 0 1rem;
  margin: 0 auto;
}

.mainContainer {
  margin-top: 2rem;
}

.title {
  font-family: var(--font-second);
  line-height: 1;
  font-size: 3rem;
  margin: 1rem 0;
  position: relative;
  z-index: 1;
}

.title::after {
  content: '';
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  background-color: var(--color1);
  position: absolute;
  bottom: 5px;
  left: -5px;
  border-radius: .2rem;
  z-index: -1;
}

.animeLeft {
  opacity: 0;
  transform: translateX(-20px);
  animation: animeLeft .3s forwards;
}

@keyframes animeLeft {
  to {
    opacity: 1;
    transform: initial;
  }
}
